@model RumarApp.Models.LoanModel
@using RumarApp.Enums

@{
    ViewData["Title"] = "Detalle";
}

<h1 class="text-center font-bold">Detalles del Prestamo</h1>
<section class="content col-md-12">
    <div class="row">
        <div class="col-md-9">
            <div class="card card-primary">
                <div class="card-header">
                    <span class="h2">
                        Prestamo <span class="badge badge-secondary" style="font-size: 20px">#@Model.Id</span>
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 form-group mb-10">
                            <label>Creacion</label>
                            <input value="@Model.CreatedOn.ToString("dd/MM/yyyy")" class="form-control" disabled />
                        </div>
                        <div class="col-md-4 form-group mb-10">
                            <label>Cliente</label>
                            <input value="@Html.DisplayFor(model => model.Client.FullName)" class="form-control" disabled />
                        </div>
                        @{
                            var clienttransactionTypeNames = EnumExtension.GetEnumDescription((ClientTypeEnum)Model.ClientTypeId);

                            <div class="col-md-4 form-group mb-10">
                                <label class="text-right">Tipo de Cliente</label>
                                <input value="@clienttransactionTypeNames" class="form-control" disabled />
                            </div>
                        }
                    </div>
                    <div class="row">
                        @{
                            var transactionTypeNames = EnumExtension.GetEnumDescription((TransactionTypeEnum)Model.TransactionTypeId);

                            <div class="col-md-4 form-group mb-10">
                                <label class="text-right">Metodo de Pago</label>
                                <input value="@transactionTypeNames" class="form-control" disabled />
                            </div>

                            var transactionPaymentNames = EnumExtension.GetEnumDescription((TransactionPaymentEnum)Model.TransactionPaymentId);

                            <div class="col-md-4 form-group mb-10">
                                <label class="text-right">Tipo de Pago</label>
                                <input value="@transactionPaymentNames" class="form-control" disabled />
                            </div>
                        }
                        <div class="col-md-4 form-group text-right mb-10">
                            <label>Cuotas de Pago</label>
                            <input value="@Html.DisplayFor(model => model.Quote)" class="form-control text-right" disabled />
                        </div>
                        <div class="col-md-4 form-group text-right mb-10">
                            <label class="text-right">Capital</label>
                            <input value="@Html.DisplayFor(model => model.CapitalToShow)" class="form-control text-right" disabled />
                        </div>
                        @*<div class="col-md-4 form-group text-right mb-10">
                            <label>Interes(%)</label>
                            <input value="@Html.DisplayFor(model => model.Interest)" class="form-control text-right" disabled />
                        </div>*@
                        <div class="col-md-8 form-group mb-10">
                            <label>Notas</label>
                            <textarea class="form-control" disabled>@Html.DisplayFor(model => model.Notes)</textarea>
                        </div>
                        @*<button class="btn btn-primary" type="submit">
                            <i class="fa fa-file-excel"></i>
                            Descargar Reporte Excel
                        </button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-primary">
                <div class="card-header" style="font-size: 15px">
                    <i class="fa fa-fw fa-cog"></i>Acciones
                </div>
                <div class="card-body">
                    <div class="btn-group-vertical btn-block">
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">
                            <i class="fa fa-edit fa-fw"></i>Editar
                        </a>
                        <a class="btn btn-outline-primary" asp-action="Index">
                            <i class="fa fa-list fa-fw"></i>Consulta
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <span class="h2">
                        Garantes
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="dataTableGarantes" class="table table-striped-even-light-blue">
                                    <thead>
                                    <tr>
                                        <th>Nombre Completo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @{
                                        foreach (var beneficiary in Model.Beneficiary)
                                        {
                                            <tr>
                                                <td>@beneficiary.FullName</td>
                                            </tr>
                                        }

                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <span class="h2">Tabla Amortización</span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTableAmotization" class="table table-striped-even-light-blue">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">Fecha de Pago</th>
                                    <th class="text-right">Cuota</th>
                                    <th class="text-right">Capital</th>
                                    <th class="text-right">Mora</th>
                                    <th class="text-right">Interés</th>
                                    <th class="text-right">Balance</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="paymentModal" class="modal" tabindex="-1" role="dialog"> </div>
    </div>
</section>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/js/modalDisplayItem.js"></script>
<script src="/js/htmlHelper.js"></script>
<script>
    var body = document.body;
    body.classList.add("sidebar-collapse");

    var jsonData = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    
    $(function () {
        var table = $("#dataTableAmotization").DataTable({
            "responsive": true,
            "lengthChange": false,
            "data": jsonData.amortizationData,
            lengthMenu: [25, 50, 100, 200],
            "autoWidth": false,
            "columns": [
                {
                    data: "row",
                    className: "text-center",
                    width: "5%"
                },
                {
                    data: "paymentDateFormatted",
                    className: "text-center",
                    width: "12%"
                },               
                {
                    data: "quote",
                    render: function (data, type, dataToSet) {
                        return `$${convertToCurrencyFormat(dataToSet.quote)}`
                    },
                    className: "text-right",
                    width: "15%"
                },
                {
                    data: "capital",
                    render: function (data, type, dataToSet) {
                        return `$${convertToCurrencyFormat(dataToSet.capital)}`
                    },
                    className: "text-right",
                    width: "15%"
                },
                {
                    data: "mora",
                    render: function (data, type, dataToSet) {
                        return `$${convertToCurrencyFormat(dataToSet.mora)}`
                    },
                    className: "text-right",
                    width: "12%"
                },
                {
                    data: "interestMontlhy",
                    render: function (data, type, dataToSet) {
                        return `$${convertToCurrencyFormat(dataToSet.interestMontlhy)}`
                    },
                    className: "text-right",
                    width: "12%"
                },
                {
                    data: "balance",
                    render: function (data, type, dataToSet) {
                        return `$${convertToCurrencyFormat(dataToSet.balance)}`
                    },
                    className: "text-right",
                    width: "18%"
                },
                {
                    data: null,
                    "render": function (data, type, row) {

                        return `<button class="btn btn-link text-left" id="pay-modal" index='${row}'>
                                        <i class= "fa fa-check fa-fw"></i> Pagar
                                    </button >`;
                    },
                    width: "8%"
                }
            ],
            "language": {
                emptyTable: "No hay datos para mostrar",
                paginate: {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Proxima",
                    "previous": "Anterior"
                },
                info: "Mostrando _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrados de _MAX_ registros totales)"
            }
        });

        $("#dataTableAmotization tbody").on("click", "button", function () {
            var param = table.row($(this).parents('tr')).data();
            var url = '@Url.Action("PayModal")';

            postModal(url, param, 'paymentModal');
        });
    });

</script>
