@using RumarApp.Enums
@model List<RumarApp.Models.LoanModel>

@{
    ViewData["Title"] = "Consulta";
}
@Html.ValidationMessage("CancelledLoanError")
<h1 class="text-center font-bold">Consulta de Prestamos</h1>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="dataTableIndexList" class="table table-striped-even-light-blue table-bordered">
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Capital Restante
                    </th>
                    <th>
                        Capital
                    </th>
                    <th>
                        Interes(%)
                    </th>
                    <th>
                        Cuotas de Pago
                    </th>
                    <th>
                        Tipos de Pago
                    </th>
                    <th>
                        Nombre del Cliente
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capital)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CapitalToShow)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quote)
                        </td>
                        <td>
                            @EnumExtension.GetEnumDescription((TransactionPaymentEnum)item.TransactionPaymentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.FullName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    var body = document.body;
    body.classList.add("sidebar-collapse");
</script>