@model RumarApp.Models.ClientViewModel

@{
    ViewData["Title"] = "Crear";
}

<h1 class="text-center font-bold">Nuevo Cliente</h1>
<form asp-action="Create">
    <section class="content col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Cliente</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-4">
                            <label asp-for="FisrtName" class="control-label">Nombre<span class="text-danger">(*)</span></label>
                            <input asp-for="FisrtName" class="form-control" />
                            <span asp-validation-for="FisrtName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="LastName" class="control-label">Apellido<span class="text-danger">(*)</span></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Identification" class="control-label">Identificacion<span class="text-danger">(*)</span></label>
                            <input asp-for="Identification" id="identification" class="form-control" />
                            <span asp-validation-for="Identification" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PhoneNumber" class="control-label">Telefono<span class="text-danger">(*)</span></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Address" class="control-label">Direccion<span class="text-danger">(*)</span></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>                <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>         
            <!--<div class="col-md-12">
                <div class="card">-->
                    <!-- /.card-header -->
                    <!--<div class="card-body">
                        <table id="dataTableIndexList" class="table table-striped-even-light-blue table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Apellido
                                    </th>
                                    <th>
                                        Identificacion
                                    </th>
                                    <th>
                                        Direccion
                                    </th>
                                    <th>
                                        Telefono
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Beneficiaries)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FisrtName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Identification)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="@("#deleteModal-"+item.Id)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <div id="@("deleteModal-"+item.Id)" class="modal" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <partial name="_DeleteClientModal" model="@item" />
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-12">
                <a asp-action="Index" class="btn btn-secondary">Volver a la Consulta</a>
                <input type="submit" value="Crear" class="btn btn-success float-right">
            </div>
        </div>
    </section>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
