@model RumarApp.Models.ClientViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center font-bold">Detalles del Cliente</h1>
<section class="content col-md-12">
    <div class="row">
        <div class="col-md-9">
            <div class="card card-primary">
                <div class="card-header"></div>
                <div class="card-body row">
                    <div class="col-md-4 form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.FisrtName)" disabled />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Apellido</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.LastName)" disabled />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Identificacion</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Identification)" disabled />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.PhoneNumber)" disabled />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Direccion</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Address)" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-primary">
                <div class="card-header" style="font-size: 15px">
                    <i class="fa fa-fw fa-cog"></i>Acciones
                </div>
                <div class="card-body btn-group-vertical">
                    <a class="btn btn-outline-primary btn-block" asp-action="Edit" asp-route-id="@Model.Id">
                        <i class="fa fa-edit fa-fw"></i>Editar
                    </a>
                    <a class="btn btn-outline-primary btn-block" asp-action="Index">
                        <i class="fa fa-list fa-fw"></i>Consulta
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header text-white">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="mb-0 m-t-10">
                                <i class="fas fa-list-ul fa-fw"></i> Garantes
                            </h4>
                        </div>
                        <div class="col-6 text-right">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="beneficiaryListDetail" class="table table-striped-even-light-blue">
                                    <thead class="text-white">
                                        <tr>
                                            <th class="no-border">Nombre</th>
                                            <th class="no-border">Identificacion</th>
                                            <th class="no-border">Parentezco</th>
                                            <th class="no-border"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var beneficiary in Model.Beneficiaries)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(x => beneficiary.FullName)</td>
                                                <td>@Html.DisplayFor(x => beneficiary.Identification)</td>
                                                <td>@Html.DisplayFor(x => beneficiary.RelationshipType)</td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@beneficiary.Id" class="btn btn-sm btn-primary">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <a asp-action="Details" asp-route-id="@beneficiary.Id" class="btn btn-sm btn-success">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#beneficiaryListDetail").DataTable({
                "responsive": true,
                "lengthChange": false,
                //lengthMenu: [25, 50, 100, 200],
                "autoWidth": false,
                //"columnDefs": [
                //    {
                //        "targets": [3],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [4],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [5],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [6],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [7],
                //        "visible": false,
                //        "searchable": false
                //    }, {
                //        "targets": [8],
                //        "visible": false,
                //        "searchable": false
                //    },
                //],
                //"buttons": {
                //    buttons: [
                //        {
                //            text: '<i class="fas fa-plus fa-fw"></i>Garante',
                //            className: 'btn-outline-primary',
                //            action: function (e, dt, node, config) {
                //                $('#_AddBeneficiaryModal').modal('show')
                //            }
                //        },
                //    ],
                //    dom: {
                //        button: {
                //            className: 'btn'
                //        },
                //        buttonLiner: {
                //            tag: null
                //        }
                //    }
                //},
                "oLanguage": {
                    "sSearch": "Filtrar en la Lista"
                },
                "language": {
                    emptyTable: "No hay datos para mostrar",
                    paginate: {
                        "first": "Primera",
                        "last": "Ultima",
                        "next": "Proxima",
                        "previous": "Anterior"
                    },
                    info: "Mostrando _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrados de _MAX_ registros totales)",
                }
            }).buttons().container().appendTo('#beneficiaryListDetail_wrapper .col-md-6:eq(0)');
        });
    });
</script>
}

