@model RumarApp.Models.BeneficiaryModel

@{
    ViewData["Title"] = "Detalle";
}

<h1 class="text-center font-bold">Detalles del Beneficiario</h1>
<section class="content col-md-12">
    <div class="row">
        <div class="col-md-9">
            <div class="card card-primary">
                <div class="card-header"></div>
                <div class="card-body row">
                    <div class="col-md-4 form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.FirstName)" disabled />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Apellido</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.LastName)" disabled />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Identificacion</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Identification)" disabled />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.PhoneNumber)" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">País</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Country)" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Ciudad</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.City)" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Nacionalidad</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Nacionality)" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Direccion Postal</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.PostalAddress)" disabled />
                    </div>
                    <div class="col-md-8 form-group">
                        <label>Direccion</label>
                        <textarea class="form-control" type="text" disabled>@Html.DisplayFor(model => model.Address)</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-primary">
                <div class="card-header" style="font-size: 15px">
                    <i class="fa fa-fw fa-cog"></i>Acciones
                </div>
                <div class="card-body btn-group-vertical">
                    <a class="btn btn-outline-primary btn-block" asp-action="Edit" asp-route-id="@Model.Id">
                        <i class="fa fa-edit fa-fw"></i>Editar
                    </a>
                    <a class="btn btn-outline-primary btn-block" asp-action="Index">
                        <i class="fa fa-list fa-fw"></i>Consulta
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
